* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-image: linear-gradient(45deg,#32ff7e,#7efff5);

}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(45deg,#32ff7e,#7efff5);
  background-repeat: no-repeat;

  overflow-x: hidden;

  min-width: 100vw;
  min-height: 100vh;

  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;


  align-items: center;
  padding: 1rem;

  h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

form {
  border-radius: 5px;
  background-image: linear-gradient(45deg, #17c0eb, #7158e2);

  position: relative;

  padding: 2rem;

  display: flex;
  flex-direction: column;

  align-items: center;

  color: white;


}

.div-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 5px;

  min-height: 10rem;
  width: 30rem;
  position: relative;
  flex-wrap: wrap;



  .div-input {
    display: flex;
    position: relative;


    div {
      display: flex;
      margin-left: 1rem;

      span {

        font-size: 2rem;
        cursor: pointer;
    
        background-color: #1e272e;
  
        color: #32ff7e;
  
        height: 3rem;
        align-items: center;
        clip-path: circle();
        margin: auto;


      }
      span:hover {
        animation: spinner 1s;

      }
    }
  }
  input, button {
    border: 2px solid #3ae374;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    width: 20rem;
    outline: none;
    
    padding: 0.5rem;

    background-color: #1e272e;

    color: white;
  }

  button {
    cursor: pointer;
    font-size: 1rem;
    width: 10rem;
  }

  p {
    padding: 1rem;
    text-align: center;
  }
}

.div-result {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  width: 30rem;

}
.div-buttons {
  display: flex;
  width: 30rem;
  justify-content: space-around;

  button {
    border: 2px solid #3ae374;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    width: 10rem;
    outline: none;
    
    padding: 0.5rem;

    background-color: #1e272e;

    color: white;
    cursor: pointer;

  }
}

.p-item {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  line-break: anywhere;
  display: flex;
  justify-content: center;
  position: relative;

  min-height: 4rem;

  button {

    position: absolute;
    right: -1.5rem;
    bottom: 50%;

    align-items: center;

    max-height: 2rem;

    background-color: #1e272e;
    color: red;

    border: 1px solid red;
    border-radius: 5px;

    padding: 0.5rem;
    cursor: pointer;

    font-size: x-small;
  }
}

.modal {
  resize: both;
  overflow: hidden;

  font-size: 1rem;


  width: 30rem;
  height: 20rem;
  background-color: #3ae374;
  border-radius: 5px;
  padding: 1rem;


  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  position: absolute;

  justify-content: space-evenly;

  h1 {
    font-size: 2rem;
  }

  strong {
    border-bottom: 3px solid black;
    line-break: anywhere;
    font-size: 2rem;
  }
  button {
    width: 20rem;
    height: 5rem;

    font-size: 2rem;
    cursor: pointer;

    border: none;
    border-radius: 5px;

    border: 2px solid black;

    background-color: #ff3f34;
  }
}

.h1-anime {
  display: flex;
}

@keyframes spinner {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.section-options-input{
  position: absolute;
  font-size: 1rem;

  right: -25rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin-left: 0.5rem;
  width: 20px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#fff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
